<%= form_tag(searches_result_path, method: "get") do %> 
    <%= text_field_tag(:search_text) %> 
    <%= hidden_field_tag(:bulletin, "#{post}") %> 
  <button type="submit_tag" class="btn btn-outline-primary">검색</button>
<% end %>
