<h1>검색 결과</h1>

<div class="container">
    <% @searches.each do |x| %>
        <%= link_to x.title, "/posts/#{x.id}" %>　|　<%= content_tag(:span, truncate( raw( sanitize(x.content, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 70, :omission => "...")) %>　|　<%= x.created_at.in_time_zone("Asia/Seoul").strftime('%Y-%m-%d %H:%M') %>
	<%= link_to '돌아가기', posts_path %>
        <hr/>
    <% end %>
</div>
 
