<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
       
      </h4>

      <p>
		  이곳은 채팅 화면입니다.
       지금 바로 채팅을 시작해보세요!!!!
      </p>

      <hr />

      <p>
      </p>
		
    </div>
  </div>
</div>