<div class="row">
	<div class = "col-4">
		
	</div>
	
	<div class = "col-4">
		
	</div>
	<div class = "col-4">
		
	</div>
		

	
	
	
	
  <div class="col-12 col-md-3">
<%= render partial: 'rooms' %><h5>
	  </h5>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
  
      </h4>

      <p>
		  이곳은 채팅 화면입니다.
      　 　 　 　 　 　 　 
      </p>

      <hr />

      <p>
      </p>
		
    </div>
  </div>
</div>
