	<div class="row">
    <div class="col-4"> 
		
　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　

	 	</div>
    <div class="col-4"><h1 class="display-4 font-weight-bold">　<img src = "/mybuy.PNG"><h1></div>
    <div class="col-4"></div>
		
  </div>